extends layout

block content
	.tdreviewshead

		
	.tdreviews
		.tdreviewsh

		if reviews
		.tdreviewsb
			for review in reviews
				.tdreviewsbindividual
					h6.head #{review.author}
					p Ratings : #{review.rating}
					p Date : #{review.timestamp}
					p  Review Text: #{review.review_text}
		
			else
				p There are no reviews for this title - #{ttitle}
