extends layout

block content

	.atlay
		.atlist

			.atlisthead
				h2 Actor Titles
				
			.atpmenu
				include ./include/tadd-menu

			for title in titles

				.atsum
					.athead
						h3
							a(href ='/title/name') #{title.title}

					.atsumdet
						img(src ='' + title.tthumbimg)

					.atsumbody
						p Orignal Title : #{title.original_title}
						p Title: #{title.title}
						p Ratings : #{title.ratings}
						p Released Date : #{title.released_date}
						p Running Time : #{title.running_time}
						p Producer : #{title.producer}
						p Production Company : #{title.production_companies}
						p Production Countries : #{title.production_countries}
						p Spoken Languages : #{title.spoken_languages}
						p Revenue : #{title.revenue}
						p.syp Sypnosis : #{title.sypnosis}