extends layout

include include/amix

block content

	.actor-detail

		.actor-nav
			include ./include/amenu

		.actor-detail-image
			img(src ='/images/fam.jpg')

		if actor.nickname
			p Name : #{actor.nickname}
		p Full Name : #{actor.name}
		p Date of Birth : #{actor.dOb_ftd}
		p Place of Birth : #{actor.place_of_birth}
		p Nationality : #{actor.nationality.nationality}
		p Country of Origin : #{actor.country_of_origin.country_of_origin}
		p State of Origin : #{actor.state_of_origin}
		p Gender : 
			+capitalize(actor.gender)
		p Spouse or Partner : #{actor.spouse_or_partner}
		p Networth : #{actor.networth}
		p Contact Email Address : #{actor.contact_email}
		p Contact Number : #{actor.contact_number}
		p Social Media Profiles:
			if actor.sp_facebook
				a(href=actor.sp_facebook , class='btn btn-primary') Facebook
			if actor.sp_twitter
				a(href=actor.sp_twitter , class='btn btn-info') Twitter
			if actor.sp_instagram
				a(href=actor.sp_instagram , class='btn btn-secondary') Instagram

		p.bio Biography : #{actor.biography}