extends layout

include include/title-detail

block content

	.title-detail

		.title-head
			h1 #{detail.detail} 
			
		.title-nav
			include ./include/tmenu

		.title-body 
			.title-image
				img(src ='/images/fam.jpg')

			p Title: #{detail.title}
			p Ratings : #{detail.rating}
			p Released Date : #{detail.released_date.year}
			p Running Time : #{detail.running_time}
			p Producer : #{detail.producer}
			p Production Company : 
				each company , index in detail.production_companies
					span #{company.name}
						if index < detail.production_companies.length - 1
							|, 
			p Production Countries : 
				each country , index in detail.production_countries
					span #{country.country}
						if index < detail.production_countries.length - 1
							|, 
			p Spoken Languages : 
				each language , index in detail.spoken_languages
					span #{language.language}
						if index < detail.spoken_languages.length - 1
							|, 
			p Budget : #{detail.budget}
			p Revenue : #{detail.revenue}
			p Genre : 
				each genre , index in detail.genre
					span #{genre.genre}
						if index < detail.genre.length - 1
							|, 
			p.syp Sypnosis : #{detail.sypnosis}



			.title-body-actor
					ul
						for actor in detail.cast
							li
								a(href ='/actor/' + actor.url)
									img(src ='/images/fam.jpg')
								p
									a(href ='/actor/' + actor.url) #{actor.name}



		.title-body-review
			h5 Reviews
				a(href ='/title/' + detail.url + '/reviews/add' , class ='float-right btn btn-primary') Add Review

			.title-revs
				for review in detail.reviews
					.treviewsbindividual
						p.head #{review.author}
							span #{review.ratings}
							span.date
								+formatDate(review.timestamp)
						p  #{review.review_text}
						hr